(path:"test",modules:{"rust":(name:"rust",source:none,deps:{"nix":["rustup","sccache"]},phase:(install:(),setup:"rustup install stable",update:"rustup update",build:(),start:(),stop:()),env:{"RUSTC_WRAPPER":"$HOME/.cargo/bin/sccache"})},projects:{"airwave":(name:"airwave",source:git("https://github.com/vandesm14/airwave"),deps:{"modules":["rust"],"nix":["just","mprocs"]},phase:(install:(),setup:(),update:(),build:"cargo build",start:"just dev",stop:()),env:{}),"portfolio":(name:"portfolio",source:git("https://github.com/vandesm14/vandesm14"),deps:{"modules":[],"nix":["deno","miniserve"]},phase:(install:(),setup:(),update:(),build:"deno run --allow-all src/build.ts",start:"miniserve dist -p 3000 --index index.html",stop:()),env:{})})
